:root {
  --accent-color: #fd9222;
  --light-text-color: #ffffff;
  --dark-text-color: #111111;

  --main-bg-color: #fafafa;
  --dark-bg-color: #1e1823;
  --light-bg-color: #ffffff;
  --active-bg-color: #fcf1e0;
}
