.header {
  padding-top: 10px;
  padding-bottom: 4px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 12px 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--dark-text-color);
}

.logo-text-wrap {
  margin-right: 4px;
}

.logo-part {
  font-style: italic;
}

.logo-icon {
  width: 21px;
  height: 21px;
}

.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;

  color: var(--light-text-color);

  overflow: hidden;
  transition: color 250ms linear;
}

.nav-link::after {
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  height: 1px;
  width: 50%;

  transform: translateX(201%);

  background-color: var(--accent-color);
  transition: transform 250ms linear;
}

.nav-link:is(:hover, :focus)::after {
  transform: translateX(0);
}

.nav-link:is(:hover, :focus) {
  color: var(--accent-color);
}

.social-list {
  display: flex;
  align-items: center;
  gap: 18px;
}

.social-link {
  color: var(--light-text-color);
  transition: color 250ms linear;
}

.social-link:is(:hover, :focus) {
  color: var(--accent-color);
}

.social-icon {
  display: block;
  fill: transparent;
  stroke: currentColor;
  height: 22px;
  width: 22px;
}

@media not screen and (min-width: 1200px) {
  .btn-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 10px 0;
  }

  .icon-burger {
    width: 28px;
    height: 28px;
    stroke: var(--dark-text-color);
  }

  .header-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 220px;
    padding-top: 136px;
    padding-bottom: 20px;

    transform: translateX(105%);

    background-color: var(--dark-bg-color);
    transition: transform 250ms linear;
  }

  .header-menu.is-open {
    transform: translateX(0);
  }

  .btn-close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--light-text-color);

    transition: color 250ms linear;
  }

  .icon-close-menu {
    stroke: currentColor;
    width: 28px;
    height: 28px;
  }

  .btn-close-menu:is(:hover, :focus) {
    color: var(--accent-color);
  }

  .header-nav {
    padding-left: 50px;
    margin-bottom: auto;
  }

  .nav-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .nav-link {
    position: relative;
    display: inline-block;
    transition: padding-bottom 250ms linear;
  }

  .nav-link:is(:hover, :focus) {
    padding-bottom: 8px;
  }

  .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    top: 24px;
    width: 24px;
    height: 1px;
    opacity: 0;
    background-color: var(--accent-color);

    transition: opacity 250ms linear;
  }

  .nav-link:is(:hover, :focus)::after {
    opacity: 1;
  }

  .social-list {
    padding-top: 20px;
    padding-left: 20px;
  }

  @media screen and (min-width: 768px) {
    .icon-burger {
      width: 32px;
      height: 32px;
    }

    .header-menu {
      width: 290px;
      padding-top: 156px;
      padding-bottom: 24px;
    }

    .icon-close-menu {
      width: 32px;
      height: 32px;
    }

    .header-nav {
      padding-left: 85px;
    }

    .social-list {
      padding-top: 24px;
      padding-left: 32px;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .social-icon {
    height: 24px;
    width: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-bottom: 22px;
  }

  .header-logo {
    padding: 10px 0;
    margin-right: 188px;

    font-size: 18px;
    line-height: 1.11;
  }

  .logo-icon {
    width: 24px;
    height: 24px;
  }

  .header-menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .header-nav {
    margin-right: auto;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .nav-link {
    padding: 12px 0;
    display: block;
    color: var(--dark-text-color);
  }

  .social-list {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  .social-link {
    color: var(--dark-text-color);
  }

  .btn-close-menu,
  .btn-burger {
    display: none;
  }
}
