<section class="section-hero">
  <div class="container container-hero">
    <h1 class="visually-hidden">simply chocolate</h1>

    <p class="hero-subtitle">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </p>

    <div class="hero-btn-wrap">
      <button class="button main" type="button">Buy now</button>
      <a class="button secondary hero-link" href="#">How it’s made</a>
      <a class="hero-scroll-down" href="#"
        >scroll down
        <span class="scroll-down-elipse"
          ><svg class="scroll-down-icon">
            <use href="./img/sprite.svg#icon-arrow-down"></use></svg></span
      ></a>
    </div>
  </div>
</section>
