<section class="section section-prod">
  <div class="container container-prod">
    <h2 class="section-title">
      Our <span class="accent-color">products</span>
    </h2>

    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="product-card">
            <div class="product-thumb">
              <picture>
                <source
                  srcset="
                    ./img/products/products1@1x.jpg 1x,
                    ./img/products/products1@2x.jpg 2x
                  " />
                <img
                  src="./img/products/products1@1x.jpg"
                  alt="orange"
                  width="230"
                  height="201"
              /></picture>
            </div>

            <h3 class="product-title">Orange</h3>
            <p class="product-text">Dark chocolate</p>
            <button class="product-btn" type="button">45 UAH</button>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="product-card">
            <div class="product-thumb">
              <picture>
                <source
                  srcset="
                    ./img/products/products2@1x.jpg 1x,
                    ./img/products/products2@2x.jpg 2x
                  " />
                <img
                  src="./img/products/products2@1x.jpg"
                  alt="APPLE&CRANBERRY"
                  width="230"
                  height="201"
              /></picture>
            </div>

            <h3 class="product-title">APPLE&CRANBERRY</h3>
            <p class="product-text">Milk chocolate</p>
            <button class="product-btn" type="button">50 UAH</button>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="product-card">
            <div class="product-thumb">
              <picture>
                <source
                  srcset="
                    ./img/products/products3@1x.jpg 1x,
                    ./img/products/products3@2x.jpg 2x
                  " />
                <img
                  src="./img/products/products3@1x.jpg"
                  alt="lime&sea salt"
                  width="230"
                  height="201"
              /></picture>
            </div>

            <h3 class="product-title">lime&sea salt</h3>
            <p class="product-text">Dark chocolate</p>
            <button class="product-btn" type="button">66 UAH</button>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="product-card">
            <div class="product-thumb">
              <picture>
                <source
                  srcset="
                    ./img/products/products4@1x.jpg 1x,
                    ./img/products/products4@2x.jpg 2x
                  " />
                <img
                  src="./img/products/products4@1x.jpg"
                  alt="pineapple"
                  width="230"
                  height="201"
              /></picture>
            </div>

            <h3 class="product-title">pineapple</h3>
            <p class="product-text">Dark chocolate</p>
            <button class="product-btn" type="button">54 UAH</button>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="product-card">
            <div class="product-thumb">
              <picture>
                <source
                  srcset="
                    ./img/products/products5@1x.jpg 1x,
                    ./img/products/products5@2x.jpg 2x
                  " />
                <img
                  src="./img/products/products5@1x.jpg"
                  alt="Classic"
                  width="230"
                  height="201"
              /></picture>
            </div>

            <h3 class="product-title">Classic</h3>
            <p class="product-text">Milk chocolate</p>
            <button class="product-btn" type="button">45 UAH</button>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="product-card">
            <div class="product-thumb">
              <picture>
                <source
                  srcset="
                    ./img/products/products6@1x.jpg 1x,
                    ./img/products/products6@2x.jpg 2x
                  " />
                <img
                  src="./img/products/products6@1x.jpg"
                  alt="honey"
                  width="230"
                  height="201"
              /></picture>
            </div>

            <h3 class="product-title">honey</h3>
            <p class="product-text">Milk chocolate</p>
            <button class="product-btn" type="button">50 UAH</button>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="product-card">
            <div class="product-thumb">
              <picture>
                <source
                  srcset="
                    ./img/products/products7@1x.jpg 1x,
                    ./img/products/products7@2x.jpg 2x
                  " />
                <img
                  src="./img/products/products7@1x.jpg"
                  alt="Roasted fruits"
                  width="230"
                  height="201"
              /></picture>
            </div>

            <h3 class="product-title">Roasted fruits</h3>
            <p class="product-text">Dark chocolate</p>
            <button class="product-btn" type="button">66 UAH</button>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="product-card">
            <div class="product-thumb">
              <picture>
                <source
                  srcset="
                    ./img/products/products8@1x.jpg 1x,
                    ./img/products/products8@2x.jpg 2x
                  " />
                <img
                  src="./img/products/products8@1x.jpg"
                  alt="orange"
                  width="230"
                  height="201"
              /></picture>
            </div>

            <h3 class="product-title">Classic</h3>
            <p class="product-text">White chocolate</p>
            <button class="product-btn" type="button">54 UAH</button>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
