<section class="section">
  <div class="container">
    <h2 class="section-title">tOp <span class="accent-color">Sellers</span></h2>

    <div class="top-sallers-wrp">
      <div class="top-sallers-item top-sallers-thumb">
        <picture>
          <source
            srcset="
              /img/top-sallers/top-sallers1@1x.jpg 1x,
              /img/top-sallers/top-sallers1@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="368"
            height="464"
          />

          <source
            srcset="
              /img/top-sallers/tab-top-sallers1@1x.jpg 1x,
              /img/top-sallers/tab-top-sallers1@2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="344"
            height="464"
          />

          <source
            srcset="
              /img/top-sallers/mob-top-sallers1@1x.jpg 1x,
              /img/top-sallers/mob-top-sallers1@2x.jpg 2x
            "
            media="(max-width: 767px)"
            width="335"
            height="464"
          />

          <img
            src="/img/top-sallers/top-sallers1@1x.jpg"
            alt="chocolate with coffee"
          />
        </picture>
      </div>

      <div class="top-sallers-item">
        <p class="top-sallers-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </div>

      <div class="top-sallers-item top-sallers-thumb">
        <picture>
          <source
            srcset="
              /img/top-sallers/top-sallers2@1x.jpg 1x,
              /img/top-sallers/top-sallers2@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="368"
            height="464"
          />

          <source
            srcset="
              /img/top-sallers/tab-top-sallers2@1x.jpg 1x,
              /img/top-sallers/tab-top-sallers2@2x.jpg 2x
            "
            media="(min-width: 768px)"
            width="344"
            height="464"
          />

          <source
            srcset="
              /img/top-sallers/mob-top-sallers2@1x.jpg 1x,
              /img/top-sallers/mob-top-sallers2@2x.jpg 2x
            "
            media="(max-width: 767px)"
            width="335"
            height="464"
          />

          <img src="/img/top-sallers/top-sallers2@1x.jpg" alt="chocolate" />
        </picture>
      </div>

      <div class="top-sallers-item top-sallers-thumb">
        <picture>
          <source
            srcset="
              /img/top-sallers/top-sallers3@1x.jpg 1x,
              /img/top-sallers/top-sallers3@2x.jpg 2x
            "
            media="(min-width: 1200px)"
            width="368"
            height="464"
          />

          <img src="#" alt="chocolate" />
        </picture>
      </div>

      <div class="top-sallers-item">
        <button class="button main top-sallers-btn" type="button">
          Buy now
        </button>
      </div>
    </div>
  </div>
</section>
